@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&family=PT+Sans+Caption:wght@400;700&family=Pacifico&family=Righteous&display=swap');

:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: 1px 1px 10px #4fa74f;
  /* Fixed the syntax here */
  --font-family: 'Encode Sans Expanded', sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}

.rating-color {
  color: var(--rating-color);
}

.pointer {
  cursor: pointer;
}

a,
a:hover {
  color: black !important;
  text-decoration: none !important;
}

.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}

.card-img img {
  height: 300px !important;
}

.font-sm {
  font-size: 14px;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color) !important;
}

.bg-light {
  background-color: var(--light-color) !important;
}

.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}

.haert {
  font-size: 40px;
}

.product .btn {
  transition: all 0.5s;
  transform: translateY(100%);
  opacity: 0;
}

.product:hover .btn {
  transform: translateY(0%);
  opacity: 1;
}

.card:hover {
  box-shadow: 1px 1px 10px #4fa74f;
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}